*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.wrapper{
    max-width: 1140px;
    padding: 0 15px;
    margin: auto;
}

/* Banner style here*/
.banner{
    background: url('images/banner/banner2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.banner-content{
    text-align: right;
    padding: 100px 0 150px;
}
.banner-title{
    font-size: 55px;
    font-weight: 800;
    line-height: 60px;
    margin-bottom: 30px;
}
.banner-description{
    display: flex;
    justify-content: right;
}
.banner-description p{
    max-width: 460px;
    margin-bottom: 25px;
    font-size: 20px;
}
.banner-button{
    margin-top: 25px;
}
.banner-button a{
    text-decoration: none;
    background: #F15B22;
    color: #fff;
    padding: 12px 25px;
    border-radius:5px;
    font-weight: bold;
}

/* Previous year */

.previous-year{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.previous-year-right{
    padding-left: 100px;
}
.previous-year-title{
    margin-bottom: 20px;
    font-size: 30px;
    color: #F15B22;
}
.previous-year-left{
    position: relative;
}
.circle{
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background: #dddddd8f;
    z-index: -1;
    left: 75px;
    top: 150px;
}
.previous-year-description{
    margin-bottom: 20px;
    font-size: 20px;
}
.failure-item{
    display: flex;
    align-items: center;
}
.failure-item img{
    width: 30px;
    margin-right: 5px;
}

/* My plan */
.my-plan{
    padding: 0 0 50px;
}
.my-plan-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.plans{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.plan-name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.plans img{
    width: 80px;
    margin: auto;
}


/* Gradient style */
.gradient{
    padding: 100px 0;
}
.gradient img{
    display: inherit;
}
.watch-image{
    background: url('images/watch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    position: relative;
}
.watch-image img{
    width: 100%;
}
.gradient-content{
    position: absolute;
    top: 0;
    padding: 50px 50px 50px 70px;
}
.gradient-title{
    font-size: 30px;
    font-weight: bold;
    color: #fff;
}
.gradient-button{
    margin-top: 30px;
}
.gradient-button a{
    text-decoration: none;
    background: #fff;
    color: #F15B22;
    padding: 12px 25px;
    border-radius:5px;
    font-weight: bold;

}


/* My blogs */
.my-blogs{
    padding: 0 0 50px;
}
.my-blogs-title{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}
.blogs{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.blog{
    width: calc(33% - 25px);
}
.blog-name{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: #F15B22;
}
.my-blogs img{
    width: 100%;
}
.blog-description{
    text-align: justify;
}
.blog-description a{
    font-size: 14px;
}
.blog-name span{
    font-size: 12px;
    font-style: italic;
}
.blog-button{
    margin-top: 30px;
}
.blog-button a{
    text-decoration: none;
    background: #F15B22;
    color: #fff;
    padding: 12px 25px;
    border-radius:5px;
    font-weight: bold;
}

/* Footer area */
.footer{
    background: #000;
    color: #fff;
    padding: 100px 0;
}
.footer-flex{
    display: flex;
}
.footer-left{
    width: 50%;
}
.footer-right{
    width: 50%;
    padding-left: 150px;
}
.footer-title{
    font-size: 30px;
    margin-bottom: 20px;
}
.footer-description{
    margin-bottom: 20px;
}
.email{
    margin-bottom: 5px;
}
.subscribe-title{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input-box input{
    padding: 15px;
    background: #000;
    border-radius: 7px;
    width: 325px;
    margin-bottom: 20px;
}
.subscribe-button a{
    text-decoration: none;
    background: #F15B22;
    color: #fff;
    padding: 12px 25px;
    border-radius:5px;
    font-weight: bold;

}
.subscribe-button{
    margin-top: 10px;
}
input::placeholder{
    color:#fff;
}
.social-icons{
    margin-top: 30px;
}
.social-icons img{
    margin-right: 15px;
}